<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
    <title>Portfolio</title>
</head>


<body>
    <div class="frame">
        <div class="main_frame">
            <div class="left_frame">
                <div class="left_1">
                    <div class="left_1-1">
                        <img src="images/profile.png" width="156px" height="156px">
                    </div>
                    <div class="left_1-2">
                        <%=user.name%>
                    </div>
                    <div class="left_1-3">
                        <%=user.profession%>
                    </div>
                    <div class="left-icons">
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/vector1.svg" class="icon-1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/vector2.svg" class="icon-1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/vector3.svg" class="icon-1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/vector4.svg" class="icon-1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/vector5.svg" class="icon-1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/vector6.svg" class="icon-1">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_2">
                    <div class="left_2-1">
                        <div class="left_2-1-1"><span>Age</span></div>
                        <div class="left_2-1-2">
                            <%=user.age%>
                        </div>
                    </div>
                    <div class="left_2-1">
                        <div class="left_2-1-1"><span>Residence</span></div>
                        <div class="left_2-1-2">
                            <%=user.residence%>
                        </div>
                    </div>
                    <div class="left_2-1">
                        <div class="left_2-1-1"><span>Freelancer</span></div>
                        <div class="left_2-1-3">Available</div>
                    </div>
                    <div class="left_2-1">
                        <div class="left_2-1-1"><span>Address</span></div>
                        <div class="left_2-1-2">
                            <%=user.address%>
                        </div>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_3">
                    <div class="left_3-1">Languages</div>
                    <div class="left_3-2">
                        <div class="left_3-2-1">Uzbek</div>
                        <div class="left_3-2-2">100%</div>
                    </div>
                    <div class="square_3-1"></div>
                    <div class="left_3-2">
                        <div class="left_3-2-1">Korean</div>
                        <div class="left_3-2-2">80%</div>
                    </div>
                    <div class="square_3-2"></div>
                    <div class="left_3-2">
                        <div class="left_3-2-1">English</div>
                        <div class="left_3-2-2">60%</div>
                    </div>
                    <div class="square_3-3"></div>
                </div>
                <div class="marginer"></div>

                <div class="left_4">
                    <div class="left_4-1">Skills</div>
                    <div class="left_4-2">
                        <div class="left_4-2-1">HTML</div>
                        <div class="left_4-2-2">100%</div>
                    </div>
                    <div class="square_3-1"></div>
                    <div class="left_4-2">
                        <div class="left_4-2-1">CSS </div>
                        <div class="left_4-2-2">80%</div>
                    </div>
                    <div class="square_3-2"></div>
                    <div class="left_4-2">
                        <div class="left_4-2-1">JS </div>
                        <div class="left_4-2-2">80%</div>
                    </div>
                    <div class="square_3-2"></div>
                    <div class="left_4-2">
                        <div class="left_4-2-1">PHP </div>
                        <div class="left_4-2-2">60%</div>
                    </div>
                    <div class="square_3-3"></div>
                    <div class="left_4-2">
                        <div class="left_4-2-1">WordPress </div>
                        <div class="left_4-2-2">60%</div>
                    </div>
                    <div class="square_3-3"></div>
                </div>
                <div class="marginer"></div>
                <div class="left_5">
                    <div class="left_5-1">Extra Skills</div>
                    <div class="left_5-2">
                        <div class="left_5-2-1"><img src="icon/icons.png"></div>
                        <div class="left_5-2-2">Bootstrap, Materialize</div>
                    </div>
                    <div class="left_5-2">
                        <div class="left_5-2-1"><img src="icon/icons.png"></div>
                        <div class="left_5-2-2">Stylus, Sass, Less</div>
                    </div>
                    <div class="left_5-2">
                        <div class="left_5-2-1"><img src="icon/icons.png"></div>
                        <div class="left_5-2-2">Gulp, Webpack, Grunt</div>
                    </div>
                    <div class="left_5-2">
                        <div class="left_5-2-1"><img src="icon/icons.png"></div>
                        <div class="left_5-2-2">GIT Knowledge</div>
                    </div>
                </div>
                <div class="marginer"></div>
            </div>
            <div class="midd_frame">
                <div class="midd_1">
                    <div class="midd_1-1">I’m Rayan Adlrdard Front-end Developer</div>
                    <div class="midd_1-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Et, volutpat feugiat placerat lobortis. Natoque rutrum semper
                        sed suspendisse nunc lectus.</div>
                    <div class="midd_1-3">
                        <button type="submit">Hire me</button>
                    </div>
                    <div class="midd_1-4">
                        <img src="images/Your image 1.png" alt="">
                    </div>
                </div>
                <div class="midd_2">
                    <div class="midd_2-1">
                        <div class="midd_2-1-1">My Services</div>
                        <div class="midd_2-1-2">Amet minim mollit non deserunt ullamco est
                            sit aliqua dolor do amet sint. Velit officia consequat
                            duis enim velit mollit. lorem ipsum</div>
                    </div>
                    <div class="midd_2-2"></div>
                    <div class="midd_2-3"></div>
                </div>
            </div>

            
            <div class="right_frame">
                <div class="right_1">
                    <a class="link_href" href="">
                        <div class="icon">
                            <img src="icon/Contrast.png" class="icon-1">
                        </div>
                    </a>
                </div>
                <div class="right_2">
                    <a class="link_href" href="">
                        <div class="icon">
                            <img src="icon/Home.png" class="icon-1">
                        </div>
                    </a>
                    <a class="link_href" href="">
                        <div class="icon">
                            <img src="icon/Service.png" class="icon-1">
                        </div>
                    </a>
                    <a class="link_href" href="">
                        <div class="icon">
                            <img src="icon/Cv.png" class="icon-1">
                        </div>
                    </a>
                    <a class="link_href" href="">
                        <div class="icon">
                            <img src="icon/Portfolio.png" class="icon-1">
                        </div>
                    </a>
                    <a class="link_href" href="">
                        <div class="icon">
                            <img src="icon/Blog.png" class="icon-1">
                        </div>
                    </a>
                    <a class="link_href" href="">
                        <div class="icon">
                            <img src="icon/Contact.png" class="icon-1">
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</body>

</html>